<form [formGroup]="loginForm" class="formHolder">
    <div class="formHolder">
        <mat-form-field>
            <input formControlName="email" matInput placeholder="email" required>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" matInput placeholder="password" required type="password">
        </mat-form-field>
    </div>
    <button [disabled]="!loginForm.valid" color="primary" mat-raised-button (click)="login()" label="Show" class="p-button-success">Login</button>
    <a [routerLink]="['/register']" class="register-link">Don't have an account? Create one.</a>
</form>
<p-toast position="bottom-center"></p-toast>

