:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #304674;
}

.formHolder {
    background-color: #f9c9e2;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #BCAFCF;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e65100;
}

p-toast {
    font-size: 16px;
    background-color: #00b0ff;
    color: #ffffff;
}

.register-link {
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.register-link:hover {
    text-decoration: underline;
}
