<div class="company-managing-container">
    <div class="user-list">
        <h2>Companies</h2>

        <div class="search-div">
          <div>
            <label class="labels-search" for="name">Name:</label>
            <input class="input-search" type="text" id="name" [(ngModel)]="searchName" placeholder="Enter name">
          </div>

          <div>
            <label class="labels-search" for="city">City:</label>
            <input class="input-search" type="text" id="city" [(ngModel)]="searchCity"  placeholder="Enter city" >
          </div>

          <div>
            <label class="labels-search" for="country">Country:</label>
            <input class="input-search" type="text" id="country" [(ngModel)]="searchCountry" placeholder="Enter country">
          </div>

          <button class="btn_search" mat-raised-button (click)="searchCompanies()">Search</button>
        </div>

        <div class="filter-div">
            <p class="text-filter">Average Rating Range</p>
            <label class="labels-search" for="minAverageRating">Min:</label>
            <input id="minAverageRating" class="input-filter" placeholder="Min rate" type="number" [(ngModel)]="avgRatingMin" />

            <label class="labels-search" for="maxAverageRating">Max:</label>
            <input id="maxAverageRating" class="input-filter" placeholder="Max rate" type="number" [(ngModel)]="avgRatingMax" />

            <button class="btn_search" mat-raised-button (click)="filterCompanies()">Filter</button>
        </div>

        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Average rating</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let c of companies">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.address.street}} {{c.address.city}}, {{c.address.country}} {{c.address.zipCode}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.averageRating}}</td>
                    <td>
                        <button class="table-btn" mat-raised-button (click)="openManageAdmins(c)">Manage Admins</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn" mat-raised-button (click)="addNewCompany()">Add new Company</button>
    </div>

    <div class="form-container">
        <app-company-form *ngIf="showForm" (companyAdded)="companyAdded()"></app-company-form>
        <!-- Should maybe be in separate component/components: -->
        <div *ngIf="showCompanyAdmins" >
            <div class="all-admins-list">
                <h3>Available admins</h3>
                <table>
                    <thead>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ca of availableAdmins">
                            <td>{{ca.firstName}}</td>
                            <td>{{ca.lastName}}</td>
                            <td>{{ca.email}}</td>
                            <td>
                                <button class="table-btn" mat-raised-button (click)="addAdmin(ca)">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="company-admins-list">
                <h3>Company admins</h3>
                <table>
                    <thead>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ca of currentCompanyAdmins">
                            <td>{{ca.firstName}}</td>
                            <td>{{ca.lastName}}</td>
                            <td>{{ca.email}}</td>
                            <td>
                                <button class="table-btn" mat-raised-button (click)="removeAdmin(ca)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="button-container">
                <button class="btn" mat-raised-button (click)="cancelUpdate()">Cancel</button>
                <button class="btn" mat-raised-button (click)="updateCompany()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-center"></p-toast>
