.change-password__overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(78, 78, 78, 0.596);
  }
  
.change-password__popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    left: 33vw;
    width: 33vw;
    top: 33vh;
    padding: 20px;
    background-color: white;
}