
<div *ngIf="changePassword" class="change-password__overlay">
    <div class="change-password__popup">
        <p>You must change your password before proceeding!</p>
      <form [formGroup]="passwordChangeForm">
        <div>
            <mat-form-field>
                <input formControlName="password" matInput placeholder="password" required type="password">
            </mat-form-field>
        </div>
        <button [disabled]="!passwordChangeForm.valid" color="primary" mat-raised-button (click)="changePassword()" label="Show" class="p-button-success">Confirm</button>
    </form>
    <p-toast position="bottom-center"></p-toast>
    </div>
  </div>