.company-info {
  display: flex;
  flex-direction: column;
}

.company-info h1 {
  text-align: center;
}

.equipment {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  text-align: center;
  padding: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-icon {
  color: gold;
}

.equipment mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

app-map {
  width: 50%;
  height: 50%;
}