.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.start-sim {
    padding: 0.5rem;
    width: 90%;
    font-size: medium;
    color: white;
    background-color: darkgreen;
}

p-toast {
    font-size: 16px;
    background-color: #00b0ff;
    color: #ffffff;
}