.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1300px;
    height: 600px;
}

.company-equipment {
    display: flex;
    flex-direction: column;
}

.avaliable-equipment {
    display: flex;
    flex-direction: column;
}