.navbar {
    background-color: #A7C7E7;;
    padding: 0.5rem;
    display: flex;
    height: 5vh;
    align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-items {
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
}


.overlay-container {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: white;
  color: black;
  transition: right 0.3s ease-out;
  z-index: 999;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.open {
  right: 0;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Ubuntu, serif
}

.user-info {
  margin-left: 10px;
}
.user-info p {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  width: 95%;
  margin-bottom: 5px;
  background-color: white!important;
  text-align:left;
  font-family: Ubuntu, serif
}

.btn:hover {
  background-color: #fafafa !important;
  text-decoration:none;
}

.navbar-icon{
  width:45px;
  height:45px;
}

.menu-icon{
  width:30px;
  height:30px;
}

.nav-btn{
  width:15%;
  margin-left:20px;
}

.app-name{
  width:100%;
  font-family: Ubuntu, serif
}

.app-name:hover{
  color: #e599c2;
  cursor: default;
}

.navbar-picture{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.options {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  width: 100%;
  text-align: center;
}
