<div class="navbar">
  <h2 class="app-name" (click)="goHome()">ISA-T46 MEMA</h2>
  <div class="navbar-items">
    <img src="assets/images/burgundy.jpg" alt="Profile Picture" class="navbar-picture" (click)="toggleMenu($event)"
      *ngIf="currentUser">
    <button *ngIf="!currentUser" class="nav-btn" mat-raised-button routerLink="/login"><mat-icon>login</mat-icon>Sign
      In</button>
  </div>
  <div #overlayContainer class="overlay-container" [class.open]="isOverlayOpen">
    <div class="overlay-content">
      <div class="user-profile">
        <img src="assets/images/burgundy.jpg" alt="Profile Picture" class="profile-picture">
        <div class="user-info" *ngIf="currentUser">
          <p><b>{{currentUser.firstName}} {{currentUser.lastName}}</b></p>
          <p>{{currentUser.email}}</p>
        </div>
      </div>
      <div class="options">
        <div class="option">
          <button *ngIf="currentUser" class="btn" (click)="closeOverlay()" mat-flat-button
            [routerLink]="['user-edit']"><mat-icon>manage_accounts</mat-icon> Edit profile</button>
          <button *ngIf="currentUser && hasRole('ROLE_USER')" class="btn" (click)="closeOverlay()" mat-flat-button
            [routerLink]="['employee-reservations']"><mat-icon>list</mat-icon>My reservations</button>
          <button *ngIf="currentUser && hasRole('ROLE_SYSADMIN')" (click)="closeOverlay()" class="btn" mat-flat-button
            routerLink="/manage-users"><mat-icon>people_outline</mat-icon>Manage users</button>
          <hr>
        </div>
        <div class="option">
          <button *ngIf="currentUser && hasRole('ROLE_COMPADMIN')" (click)="closeOverlay()" class="btn" mat-flat-button
            routerLink="/company-profile"><mat-icon>business</mat-icon>Manage company profile</button>
          <button *ngIf="currentUser && hasRole('ROLE_COMPADMIN')" (click)="closeOverlay()" class="btn" mat-flat-button
            routerLink="/company-calendar"><mat-icon>calendar_today</mat-icon>See company calendar</button>
          <button *ngIf="currentUser && hasRole('ROLE_SYSADMIN')" (click)="closeOverlay()" class="btn" mat-flat-button
            routerLink="/manage-companies"><mat-icon>add_business</mat-icon>Manage companies</button>
          <hr *ngIf="currentUser && (hasRole('ROLE_SYSADMIN') || hasRole('ROLE_COMPADMIN')) ">
        </div>
        <div class="option">
          <button *ngIf="currentUser && hasRole('ROLE_SYSADMIN')" (click)="closeOverlay()" class="btn" mat-flat-button
            routerLink="/equipment-collection"><mat-icon>list</mat-icon>Browse equipment</button>
          <hr *ngIf="currentUser && hasRole('ROLE_SYSADMIN')">
        </div>
        <div class="option">
          <button *ngIf="currentUser" class="btn" mat-flat-button
            (click)="logOut();closeOverlay()"><mat-icon>logout</mat-icon> Sign out</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-password-change-form *ngIf="showPasswordChangeForm"
  (passwordChanged)="onPasswordChange()"></app-password-change-form>