.navbar {
    background-color: greenyellow;
    padding: 0.5rem;
    display: flex;
    height: 5vh;
    align-items: center;
}

.navbar-items {
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
}

.btn {
    margin-left: 1%;
}