.navbar {
    background-color: #A7C7E7;;
    padding: 0.5rem;
    display: flex;
    height: 5vh;
    align-items: center;
}

.navbar-items {
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
}

.btn {
    margin-left: 1%;
}
img{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
