.table {
    width: 50%;
}

.reservations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 5%;
    color: white;
    background-color: darkred;
}